---
import { Icon } from '@astrojs/starlight/components';

const links: Array<{
  label: string;
  href: string;
  icon: Parameters<typeof Icon>[0]['name'];
}> = [
  {
    icon: 'github',
    label: 'GitHub',
    href: 'https://github.com/snapvm/snapvm-docs',
  },
];
---

{
  links.map(({ label, href, icon }) => (
    <a {href} rel="me" class="social-icon sl-flex">
      <span class="sr-only">{label}</span>
      <Icon name={icon} />
    </a>
  ))
}

<style>
  @layer starlight.components {
    .social-icon {
      color: var(--sl-color-text-accent);
      padding: 0.5em;
      margin: -0.5em;
    }

    .social-icon:hover {
      color: var(--sl-color-text);
    }
  }
</style>
